.idea/*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
arionum-gpu-miner
*.vcxproj
*.sln
*.vcxproj.filters
*.opendb
*.backup
vcpkg
x64
Release
Win32
*.bak
*.db
*.dir
mpir-3.0.0
cmake_install.cmake

